<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="
    sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="buildup.css">

</head>
<body>

    

    <nav id="maiNavbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href=""><img src="lgoo.png" id="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">ΑΡΧΙΚΗ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/buildup">ΕΝΗΜΕΡΩΣΟΥ</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ΠΡΟΤΑΣΕΙΣ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="gaming">Gaming pc</a>
                <a class="dropdown-item" href="office">Office Pc</a>
                <a class="dropdown-item" href="professional">Professional Pc</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="epikoinwnia">ΕΠΙΚΟΙΝΩΝΙΑ</a>
            </li>

            <li class="nav-item"></li>
          </ul>
        
         
          <a class="social-icon social-icon--instagram" href="https://www.facebook.com">
            <ion-icon name="logo-facebook"></ion-icon>            
          </a>
            <a class="social-icon social-icon--twitter" href="https://www.instagram.com">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
            
            <a class="social-icon social-icon--facebook" href="https://www.twitter.com">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
            <a class="social-icon social-icon--facebook" href="https://www.gmail.com">
              <ion-icon name="logo-google"></ion-icon>            
            </a>
          
  
    </nav>



    <section class="container">
        <div class="align-items-center" id="titlos">
                <h2>Μάθε ότι χρειάζεται για να φτιάξεις έναν υπολογιστή απο το μηδέν</h2>
        </div>
    </section>

    
    <section class="container">
        <div class="row align-items-center">
                <div class=col id="headingGroup">
                    <p>Με την πάροδο του χρόνου η τεχνολογία αναπτύσσεται και οι δυνατότητες των παιχνιδιών και τα γραφικά τους πλέον φτάνουν σε ένα υπερρεαλιστικό σημείο.
                        Τα σύγχρονα παιχνίδια στην πλειοψηφία τους αποτελούνται και χαρακτηρίζονται από  Τρομερές ιστορίες συνοδευόμενες από φανταστικά γραφικά και έντονες ερμηνείες. Σε οδηγούν σε μια άλλη πραγματικότητα, σε συγκινούν, σε τρομάζουν και σε ενθουσιάζουν.
                        Δυστυχώς η ευτυχώς όσο προχωράει η τεχνολογία κρίνεται απαραίτητο να αναβαθμίζονται οι ηλεκτρονικοί υπολογιστές ώστε να μπορούν να ανταπεξέλθουν στις ανάγκες αλλά και στις προσδοκίες του κάθε χρήστη.
                        Η αναβάθμιση ενός Η/Υ μπορεί να γίνει με την βοήθεια ενός ειδικού, αυτό όμως προϋποθέτει να ξοδέψεις επιπλέον χρήματα χωρίς κάποιον ουσιαστικό λόγο.
                        Στόχος της σελίδας αυτής είναι να παρουσιαστεί η αναβάθμιση ή ίσως και η δημιουργία ενός PC, με απλό και κατανοητό σε όλους τους αναγνώστες τρόπο.
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="buildimg/pc.png" alt="">
                </div>
                <div class="down-sec"><p>Όλα ξεκινούν από τις θελήσεις του κάθε χρήστη και τις απαιτήσεις του. Μπορεί αυτές να αφορούν επαγγελματικούς σκοπούς ή ακόμη και ψυχαγωγικούς. 
                    Οι ευκολίες και οι δυνατότητες που σου δίνει ένας Η/Υ, ποσό μάλλον εν μέσω μιας πανδημίας που έχει επηρεάσει τον πλανήτη σε επίπεδο οικονομικό, υγειονομικό, ψυχολογικό αλλά και εκπαιδευτικό, είναι αμέτρητες και σημαντικές. 
                    Οπότε κατανοούμε πως ένα PC είναι πλέον αναπόσπαστο κομμάτι της ζωής κάθε ανθρώπου.
                    Τι χρειάζεται λοιπόν να ξέρεις για να αναβαθμίσεις ή να κατασκευάσεις εξ ολοκλήρου το δικό σου μοναδικό υπολογιστή;
                    Αρχικά πρέπει να γνωρίζεις τις απαιτήσεις σου και τα θέλω και κυρίως το budget που μπορείς να διαθέσεις για την αγορά ενός καινούργιου pc ή την αναβάθμιση ενός ήδη υπάρχων.
                    Ένας υπολογιστής μπορεί να χρησιμοποιείται για απλή οικιακή χρήση, για επαγγελματικούς σκοπούς ή για gaming.
                    Πάμε λοιπόν να δούμε πως μπορείς να φτιάξεις το PC που αρμόζει σε σένα..
                    Αυτά που πρέπει να γνωρίζεις είναι τα εξαρτήματα από τα οποία αποτελείται ένας υπολογιστής.
                </p></div>
                <div class="down-sec">
                    <p id="synopsi">Αυτά λοιπόν συνοπτικά είναι :</p>

                    <ul class="components" >
                        <li>Επεξεργαστής (CPU)</li>
                        <li>Μητρική Κάρτα (Motherboard / MOBO)</li>
                        <li>Μνήμη (RAM)</li>
                        <li>Σκληρός Δίσκος (HDD ή SSD)</li>
                        <li>Τροφοδοτικό (PSU)</li>
                        <li>Κουτί</li>
                        <li>Λειτουργικό Σύστημα </li>
                    </ul>
                    <p>Αφού τώρα γνωρίζεις τα μέρη ενός Η/Υ πάμε να τα αναλύσουμε και να κατανοήσουμε την χρησιμότητα κάθε εξαρτήματος.</p>
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class="col">
                    <p id="cpu">Επεξεργαστής (CPU)</p>
                    <img class="img-fluid" src="buildimg/cpu.jpg" alt="">
                </div>
                <div class="down-sec"><p><b>Ο επεξεργαστής είναι ο πυρήνας</b> ή πιο απλά ο «εγκέφαλος» του υπολογιστή σου. Είναι ένα από τα πιο σημαντικά κομμάτια του PC καθώς επηρεάζει την απόδοση του σε οποιαδήποτε του χρήση. Είναι το δεξί χέρι κάθε επαγγελματία ή κάθε gamer σε συνδυασμό με την κάρτα γραφικών. 
                    Χρειάζεται να ξέρεις και να θυμάσαι <b>3 βασικά χαρακτηριστικά</b> ενός επεξεργαστή και αυτά είναι : η <b>συχνότητα</b> του, τα <b>threads</b> και οι<b> πυρήνες</b> που έχει.
                    Η συχνότητα του επεξεργαστή είναι η μέτρηση της ταχύτητας της επεξεργασίας σε gigahertz (GHz) οπότε όσο μεγαλύτερη η συχνότητα τόσο πιο γρήγορα θα επεξεργάζονται τα διάφορα δεδομένα του υπολογιστή. 
                    Τα νήματα ή αλλιώς τα λεγόμενα threads βοηθούν τον υπολογιστή να είναι πιο γρήγορος. </p></div>
                <div class=col id="headingGroup">
                    <p>
                        Πλέον στους συγχρόνους επεξεργαστές υπάρχει μια αρχιτεκτονική που ανακάλυψε η Intel, με την ονομασία <b>Hyperthreading</b>. Η τεχνολογία αυτή λοιπόν πραγματοποιεί έναν εικονικό διπλασιασμό των επεξεργαστικών πυρήνων, οπότε όσο περισσότερα threads έχει ένας επεξεργαστής τόσο πιο γρήγορος θεωρείται.
                        Οι πυρήνες από την άλλη, όσο περισσότεροι είναι (δεν παίζει πάντα κυρίαρχο ρολό ο αριθμός των πυρήνων στις επιδόσεις) σου δίνουν την δυνατότητα να τρέχεις πολλές εφαρμογές και διεργασίες ταυτόχρονα δίχως καθυστέρηση ή error στο ενδιάμεσο.
                    </p>
                </div>
        </div>
    </section>


    <section class="container">
        <div class="row align-items-center">
                <div class=col id="headingGroup">
                    <p id="mobo">Μητρική (Motherboard / MOBO)</p>
                    <p>Αμέσως μετά την επιλογή ενός επεξεργαστή ακολουθεί η <b>μητρική</b>.
                        Πάντα με βάση το budget που διαθέτεις μπορείς να καταλήξεις και σε μια mobo, δίνοντας βάση στην <b>συμβατότητα</b> με τον <b>επεξεργαστή</b> και τις <b>ram</b>.
                        Για να ξεχωρίσεις και να καταλάβεις αν ένας επεξεργαστής είναι συμβατός με μια motherboard πρέπει να ελέγξεις τα Socket. Οι 10ης γενιάς επεξεργαστές για παράδειγμα έχουν socket 1200, οπότε πρέπει και η μητρική που θα διαλέξεις να αντιστοιχεί με αυτό.
                        Οι συχνότητες των ram που υποστηρίζει η μητρική είναι επίσης κάτι που θα πρέπει να προσέξεις  να ταιριάζει, διαφορετικά δεν θα είναι λειτουργικός ο υπολογιστής σου.                        
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="buildimg/mobo.jpg" alt="">
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class="col">
                    <p id="ram">Μνήμη (RAM)</p>
                    <img class="img-fluid" src="buildimg/ram.jpg" alt="">
                </div>
                <div class=col id="ram-cont">
                    <p>
                        Οι μνήμες <b>RAM (Random Access Memory)</b> είναι ακόμη ένα σημαντικό κομμάτι για το PC σου. Η σύνδεση τους με τον επεξεργαστή είναι άμεση, οπότε η ταχύτητα και η απόδοση της CPU σου επηρεάζεται σημαντικά. 
                        Αφού ελέγξεις την συμβατότητα μεταξύ RAM και MOBO το μόνο που έχεις να κάνεις είναι να επιλέξεις το μέγεθος της μνήμης (προτείνεται από 8GB και πάνω) καθώς και την συχνότητα της. Όσο περισσότερη RAM έχεις τόσο καλυτέρα θα τρέχουν οι πολλαπλές εφαρμογές και τα μοντέρνα παιχνίδια στον υπολογιστή σου.
                        Το «ιδανικό μέγεθος» είναι στα 16GB, ένα νούμερο ιδανικό για games, και <b>multitasking</b>.
                        Από 32GB και πάνω αναφερόμαστε σε επαγγελματίες ή άτομα με οικονομική άνεση που θέλουν να έχουν το καλύτερο στον υπολογιστή τους.
                    </p>
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class=col id="headingGroup">
                    <p id="gpu">Κάρτα Γραφικών (GPU)</p>
                    <p>Η <b>κάρτα γραφικών</b> είναι το όπλο κάθε gamer ή κάθε επαγγελματία που ασχολείται με γραφικά και rendering βίντεο. Κάθε GPU έχει 2 βασικά τεχνικά χαρακτηριστικά που πρέπει να παρατηρήσεις. Αυτά λοιπόν είναι : 
                        Το <b>Clock Speed</b> και η <b>VRAM</b> η οποία είναι και ο πιο σημαντικός τρόπος να μετράς την απόδοση μιας κάρτας γραφικών. 
                    Όσο περισσότερα GB VRAM έχει η κάρτα σου τόσο μεγαλύτερη απόδοση θα έχει σε παιχνίδια και βίντεο με υψηλή ανάλυση.
                    Πάντα βέβαια η κάρτα γραφικών και οι αποδόσεις της εξαρτώνται από τον επεξεργαστή, οπότε καλό είναι να επενδύσεις σε ένα καλό επεξεργαστή, ώστε με όποια GPU και να συνδυαστεί, να αποφέρει το 100% των δυνατοτήτων της.                                            
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="buildimg/gpu.jpg" alt="">
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class="col">
                    <p id="hd">Σκληρός Δίσκος (HDD / SSD)</p>
                    <img class="img-fluid" src="buildimg/ssd.png" alt="">
                </div>
                <div class=col id="hd-cont">
                    <p>
                        Ένα ακόμη σημαντικό μέρος του υπολογιστή σου είναι ο <b>σκληρός δίσκος</b>. Είναι το μέρος στο οποίο τρέχει και φορτώνεται το λειτουργικό σύστημα, αλλά και το μέρος που αποθηκεύεις τα αγαπημένα σου παιχνίδια και διάφορα άλλα δεδομένα.
                        Η ταχύτητα και οι αποδόσεις του υπολογιστή σου εξαρτώνται από τον δίσκο καθώς ένας <b>HDD</b> δίσκος έχει χειρότερες αποδόσεις από έναν <b>SSD</b> που πλέον είναι οι κυρίαρχοι των δίσκων.
                        Η επιλογή ενός δίσκου λοιπόν είναι απλή και χρειάζεται μόνο να αποφασίσεις το μέγεθος σε <b>GB</b> και την ταχύτητα που επιθυμείς να έχει ο υπολογιστής σου.
                        Ανάλογα το budget και τις θελήσεις μπορείς να επιλέξεις ανάμεσα σε έναν HDD, SSD και <b>M.2 SSD</b> δίσκο, ο οποίος είναι και από τους πιο γρήγορους στην αγορά πλέον.
                        Κρίνεται βέβαια αναγκαίο στους M.2 δίσκους να υπάρχει <b>συμβατότητα</b> με την μητρική πλακέτα.
                    </p>
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class=col id="headingGroup">
                    <p id="cooler">Ψύχτρα επεξεργαστή</p>
                    <p>Ένα κομμάτι που συμβάλει επίσης στην ομαλή λειτουργία του επεξεργαστή, άρα και του PC σου είναι η σωστή επιλογή <b>ψύχτρας</b>. 
                        Η ψύχτρα διατηρεί τις θερμοκρασίες του επεξεργαστή στα κατάλληλα επίπεδα. Οι τιμές στις ψύχτρες διαφέρουν ανάλογα και την ποιότητα. Στην αγορά θα βρείς ποιοτικές ψύχτρες <b>υδρόψυξης</b> και <b>αερόψυξης</b> που θα αποφέρουν τα επιθυμητά αποτελέσματα σε θερμοκρασίες. Το εντυπωσιακό παρουσιαστικό κομμάτι των ψυχτρών υδρόψυξης σίγουρα θα σε κάνει να τις λατρέψεις, παρόλα αυτά δεν σημαίνει πως οι επιδόσεις μιας υδρόψυξης ξεπερνούν τις ψύχτρες αερόψυξης. Οι επιλογές είναι άφθονες, ο ανταγωνισμός μεγάλος και οι επιδόσεις υπέροχες.
                        Ιδιαίτερη σημασία πρέπει να δώσεις στην χωρητικότητα του κουτιού σου όταν επιλέγεις ψυχτρα.                                            
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="buildimg/cooler.jpg" alt="">
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class="col">
                    <p id="case">Κουτί</p>
                    <img class="img-fluid" src="buildimg/case.jpg" alt="" id="case-img">
                </div>
                <div class=col id="case-cont">
                    <p>
                        Η επιλογή του <b>κουτιού</b> είναι μια από τις πιο ευχάριστες αλλά και εύκολες εμπειρίες. Εδώ δεν χρειάζεται να δώσεις βάση σε πολλά πράγματα, πέραν από το γούστο σου, την επιλογή της mobo, της κάρτας γραφικών και της ψύχτρας σου. Σημαντικό βέβαια είναι και το κομμάτι του <b>cable management</b> που δίνει ένα υπέροχο και καθαρό setup στον υπολογιστή σου. Οπότε αν είσαι και εσύ ψυχαναγκαστικός με την οργάνωση και εθισμένος με την ομορφιά, τότε καλό θα ήταν να αγοράσεις ένα κουτί που διαθέτει cable management. Μπορείς να κάνεις μια καλή αγορά κουτιού χωρίς να σπαταλήσεις πολλά χρήματα και να στολίσεις το σπίτι σου με ένα όμορφο PC, οπότε φρόντισε να ψάξεις υπομονετικά για το δικό σου ιδανικό pc case.
                    </p>
                </div>
        </div>
    </section>

    <section class="container">
        <div class="row align-items-center">
                <div class=col id="headingGroup">
                    <p id="cooler">Τροφοδοτικό (PSU)</p>
                    <p>Εδώ τα πράγματα είναι απλά αλλά και κρίσιμα. Η αγορά ενός <b>τροφοδοτικού</b> από έμπιστη εταιρία θα σε γλυτώσει από προβλήματα όπως αυτόματη επανεκκίνηση ή απενεργοποίηση ή μη σωστή λειτουργία του υπολογιστή σου.
                        Μια καλή και safe επιλογή είναι να διαλέξεις ένα τροφοδοτικό από <b>650Watt</b> και πάνω, παρατηρώντας να έχει πιστοποίηση <b>80+</b>, για να αποφύγεις πιθανά προβλήματα και ζημιές.
                        Αν παρόλα αυτά δεν είσαι σίγουρος πως έχεις επιλέξει την κατάλληλη ισχύ και το κατάλληλο τροφοδοτικό που αρμόζει στα χαρακτηριστικά του υπολογιστή σου, τότε το <a href="https://www.newegg.com/tools/power-supply-calculator/">Newegg</a> είναι εδώ για να σου δώσει την λύση. Επιλέγοντας απλά τον <a href="/#mid" title="Μάθε τα εξαρτηματα του Η/Υ σου">τύπο</a> των εξαρτημάτων που αποτελούν το PC σου, σου δίνει μια προτεινομένη ισχύ σε Watt.                                                                   
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid" src="buildimg/psu.jpg" alt="">
                </div>
        </div>
    </section>

    <div>
        <div class="form-container">
          <form class="contact-form">
            <h2 class="contact">ΕΠΙΚΟΙΝΩΝΙΑ</h2>
            <input type="text" id="name" placeholder="Ονοματεπώνυμο"></br>
            <input type="email" id="email" placeholder="Email"></br>
            <input type="test" id="subject" placeholder="Θέμα"></br>
            <textarea id="message" placeholder="Μήνυμα" cols="30" rows="10"></textarea></br>
            <input type="submit" class="submit" value="Αποστολή Μηνύματος">
          </form>
        </div>
      </div>

      <div class="footer">
        <div class="rights"><p>© 2021 Dantools Development Team All Rights Reserved </p></div>
      </div>

    
    

    <script src="func2.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="parallax.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>

    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"data-auto-a11y="true"></script>

</body>
</html>